/*  General section. */
/* -------------------- */


/* body */
 @font-face{
    font-family: 'Josefin Sans';
    src: url(https://fonts.google.com/specimen/Josefin+Sans); 
    background-color: Red hsl(0, 6%, 24%)
 }

    body {

      font-size: 16px;
       font-family: Josefin Sans ;
       font-weight: 300, 400, 600;
       background: Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
    }
    

    /* __________________ 
     HEADAER
    */
 

    header {
      padding-bottom: 20px;
      position: relative;
      border-color: red;
      border-style: ridge;
      background: - Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
     z-index: 1;
    }

    /* End of Header */



    /* Desktop pages. */

    /* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  /* z-index: 1; */
  top: 0;
  overflow-x: hidden;
  padding-top: 40px;
  border-style: ridge;
}


/* Control the left side */
.left {
  left: 0;
  position: sticky;
  width: 95%;
  height: 95%;
  /* padding-top: 30px; */
  background-color: pink;
  z-index: 2 ;
  border-color: saddlebrown;

}

/* Control the right side */
.right {
  right: 0;
  
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 100%;
  /* border-radius: 50%; */
  
}


/* Mobile pages */
   @media (max-width: 375px) {
   /* Styling for Mobile goes here÷ */ 
    #mobile-image, img {      border-color: red, blueviolet;
      width: 45%; 

    }


    .image-replacement {
      display: block;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background: url(images/hero-mobile.jp) no-repeat;
      width: 180px;
      height: 236px;
      padding-left: 180px;
    }
   
  } 


